<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tkrs.mapper.CbondYtmMapper">
<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.tkrs.domain.CbondYtmDomain">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="ytm" property="ytm" />
		<result column="pq_close" property="pqClose" />
	</resultMap>
	
	<select id="queryInfoByName" resultMap="baseResultMap" parameterType="com.tkrs.controller.vo.CbondBaseInfoVo">
		select code,pq_close from c_bondytm where name=#{secName} limit 0,1
	</select>
	
	<select id="queryCodeByName"  resultType="java.lang.String" parameterType="com.tkrs.controller.vo.CbondRiskVo">
		select code from c_bondytm where name=#{secName} limit 0,1
	</select>
	
	<select id="queryAllCbondName"  resultType="java.lang.String" >
		select name from c_bondytm 
	</select>
	
	<select id="queryNameByCode"  resultType="java.lang.String" parameterType="java.lang.String" >
		select name from c_bondytm  where code=#{code}
	</select>
</mapper>